.seperator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.posts {
  grid-column-start: 1;
  grid-column-end: 4;
  border: 1px solid black;
}
.data {
  grid-column-start: 4;
  grid-column-end: 5;
  border: 1px solid black;
}
